body, p, html {
    margin: 0;
    padding: 0;
    font-family: "Consolas";
    font-size: 20px;
}

p {
    text-align: justify;
    color: #0094ff;
    margin: 10px;
    padding: 10px;
    background-color: #fff09e;
    border-style: ridge;
    border-radius: 8px;
}

p:first-letter {
    padding-left: 20px;
    font-family: "Edwardian Script ITC";
    font-size: 50px;
}

p:first-line {
    font-weight: 900;
}