<div id="chat" class="chat">
    <div class="right">
        <a href="#/logout" id="btn-logout" class="logout">
            Logout
            <span id="name"></span>
        </a>
    </div>
    <div id="main-chat-content" class="content border"></div>
    <div id="send-main" class="send border">
        <label class="label small" for="user-msg">Your message:</label>
        <br />
        <textarea id="user-msg" class="input border"></textarea>
        <br />
        <button id="btn-send" class="button border">Send</button>
    </div>
</div>