html, body,label, input, div, span, select, option, form, textarea {
    margin: 0px;
    padding: 0px;
}

.field {
    margin-left: 170px;
}

.label {
    width: 150px;
    position: absolute;
    text-align: right;
}

.line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.radio {
    margin-right: 20px;
    padding-left: 5px;
}

.submit{
    padding: 10px;
    background-color: #9dd6d4;
    text-align: center;
    border-radius: 5px;
}

.inSubmit {
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 5px;
    font-size: 1.05em;
}

form {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5f2ca;
    float: left;
    border-width: 1px;
    border-style: solid;
}

textarea {
    resize: none;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    padding: 5px;
}

#wrapper {
    background-color: #3d8d8a;
}