#courses-table, td, th {
	border: 1px solid #000;
	border-spacing: 0;
}
td, th {
	width: 200px;
}
.id {
	width: 30px;
}
th {
	background: #409FFF;
}
tr:nth-of-type(2n+1) {
	background: #C0C0C0;
}
tr:nth-of-type(2n) {
	background: #D9D9D9;
}